<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome OAUTH 2.0</title>
    <style>

    </style>
</head>
<body>
<header>
    <h1> Welcome to User App</h1>
</header>
<section>
  <nav>
    <ul>
        <li><h2><a href="http://127.0.0.1:5000/create">create user</a></h2></li>
        <li><h2><a href="http://127.0.0.1:5000/create_client">create client</a></h2></li>
        <li><h2><a href="http://127.0.0.1:5000/login">login user</a></h2></li>
        <li><h2><a href="http://127.0.0.1:5000/logout">logout user</a></h2></li>
        <li><h2><a href="http://127.0.0.1:5000/forgot">forgot password</a></h2></li>
        <li><h2><a href="http://127.0.0.1:5000/reset_pass">reset password</a></h2></li>
    </ul>
  </nav>
</section>
<footer>
</footer>
</body>
</html>